#project_section {
    display: none;
}

#attendance_section {
    display: none;
}

body, html {
	height: 100%;
	width: 100%;
}

#body_wrap {
	min-height: 100%;
	padding-bottom: 55px;
	position: relative;
    box-sizing: border-box;
}

#body_wrap footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}