footer {
	width: 100%;
	}
	
footer #footer_wrap {
	background-color: #525252;
	}

footer #footer_wrap .office_info {
	text-align: center;
	height: 55px;
	line-height: 55px;
	color: #f7f7f7;
	font-size: .9em;
	}