/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	line-height: 1;
	font-family: Montserrat, "sans-serif";
	color: #51565d;
	background: #f5f7fa;
}

ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* input, textarea */
textarea,
input,
select {
	border: none;
    box-shadow: none;
	background-color: #fafbfd;
	color: #51565d;
	border-radius: 4px;
	font-family: Montserrat, "sans-serif";
	box-sizing: border-box;
}

select {
	padding-left: 10px;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
	box-shadow: none;
}

input[type="text"] {
	width: 428px;
    height: 50px;
    line-height: 50px;
	font-size: 1.1em;
	padding-left: 10px;
}

textarea {
	width: 428px;
	resize: none;
	height: 90px;
	max-height: 90px;
	font-size: 1.1em;
	line-height: 27px;
	overflow: auto;
	white-space: pre-wrap;
	padding: 10px;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

textarea::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

input[type="date"] {
    height: 30px;
	font-size: 1.1em;
}

/* modal 공통 부분 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 168, 179, 0.3);
    z-index: 9000;
    display: none;
}

.modal .modal_window {
    position: relative;
    background-color: #51565d;
    border-radius: 13px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fafbfd;
    overflow: hidden;
}