body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* side bar area */
.left-side-bar {
  height: 100%;
  width: 180px;
  position: fixed;
  left: -179px;
  transition: left .3s;
  background: #78BDFF;
  z-index: 10000;
  
}

.left-side-bar > .status-ico {
  position: absolute;
  left: 0;
  width: 200px;
  height: 120px;
  background: #4786ff;
  border-radius: 8px;
  z-index: 90;
}

.left-side-bar > .left-side-bar-body {
  position: absolute;
  left: 0;
  background: #78BDFF;
  width: 180px;
  height: 100%;
  z-index: 1000;
}

.left-side-bar-body .word {
  text-align: center;
	padding: 20px 0 0;
  height: 120px;
  box-sizing: border-box;
  background-color: #78BDFF;
}

.left-side-bar-body .word .logo {
  height: 40px;
  line-height: 40px;
  font-size: 1.1em;
}

.left-side-bar-body .word .emp_info {
  height: 35px;
  line-height: 35px;
  font-size: 1.5em;
  font-weight: bolder;  
}

.left-side-bar ul {
  font-weight: bolder;
  padding: 0;
}

.left-side-bar > ul li {
  position: relative;
}

.left-side-bar ul > li > div {
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.left-side-bar ul > li > div i {
  width: 20px;
}

.left-side-bar ul > li > div.gnb_menu {
  background: #4786ff;
  cursor: default;
}

.left-side-bar ul > li > div:hover {
  background: #4786ff;
}

.left-side-bar ul > li > div i {
  padding-left: 25px;
}

.left-side-bar ul > li > div span {
  padding-left: 10px;
}

.gnb_selected {
  background: #5999FF;
}

.left-side-bar ul.gnb_2 {
  position: absolute;
  bottom: 0;
}

.left-side-bar ul.gnb_2 div {
  width: 180px;
  background: #5999FF;
}

.left-side-bar:hover {
  left: 0;
}

/* attendance */
.att_btn {
	display: block;
}
.home_btn {
	display: none;
}