section {
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#calendar_wrap {
  width: 1400px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  max-width: 1600px;
}

/* calendar header CSS START*/
#calendar_wrap .calendar_header {
  padding: 5px 0;
  height: 75px;
  background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  display: flex;
}

/* calendar_month_year CSS START*/
#calendar_wrap .calendar_header h1.calendar_year_month {
  user-select: none;  
  padding-left: 25px;
  font-size: 28px;
  cursor: pointer;
  height: 75px;
  line-height: 75px;
  flex: 0 124px;
}

#calendar_wrap .calendar_header h1.calendar_year_month span {
  font-weight: bolder;
}
/* calendar_month_year CSS END*/

/* calendar_month_arrow CSS START*/
#calendar_wrap .calendar_header .calendar_month_arrow {
  user-select: none;  
  padding-left: 10px;
  font-size: 20px;
  height: 75px;
  line-height: 75px;
  flex: 1;
}

#calendar_wrap .calendar_header .calendar_month_arrow i {
  height: 13px;
  cursor: pointer;
  display: block;
}

#calendar_wrap .calendar_header .calendar_month_arrow i.calendar_month_next {
  margin-bottom: 1.5px;
  margin-top: 22px;
}
/* calendar_month_arrow CSS END*/

/* calendar_schedule_type_checkbox_wrap CSS START*/
#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap{
  height: 75px;
  line-height: 75px;
  flex: 2;
  text-align: right;
  padding-right: 40px;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[type="checkbox"] {
  display: none;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[type="checkbox"] + label {
  margin-left: 20px;
  cursor: pointer;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[type="checkbox"] + label > span{
  vertical-align: middle;
  padding-left: 5px;
  font-size: 0.9em;
  color: #51565d;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[type="checkbox"] + label:before{
  content:"";
  display:inline-block;
  width:11px;
  height:11px;
  border-radius: 4px;
  vertical-align:middle;
  border:1px solid #51565d;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[value="0"]:checked + label:before{
  content:"";
  background-color:#7afa91;
  border-color:#00ff5e;
  background-repeat: no-repeat;
  background-position: 50%;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[value="1"]:checked + label:before{
  content:"";
  background-color:#fa607e;
  border-color: #f8254e;
  background-repeat: no-repeat;
  background-position: 50%;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[value="2"]:checked + label:before{
  content:"";
  background-color:#fdb44d;
  border-color: #fc9b10;
  background-repeat: no-repeat;
  background-position: 50%;
}

#calendar_wrap .calendar_header .calendar_schedule_type_checkbox_wrap input[value="3"]:checked + label:before{
  content:"";
  background-color:#4786ff;
  border-color: #0a5eff;
  background-repeat: no-repeat;
  background-position: 50%;
}
/* calendar_schedule_type_checkbox_wrap CSS END*/
/* calendar header CSS END*/

/* calendar body CSS START*/
#calendar_wrap .calendar_body {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto;
}

#calendar_wrap .calendar_body .day_name {
  font-size: 12px;
  text-transform: uppercase;
  color: #51565d;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 50px;
  font-weight: 500;
}

#calendar_wrap .calendar_body .calendar_day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #51565d;
  position: relative;
  /* pointer-events: none; */
}

#calendar_wrap .calendar_body .calendar_day span.day_word {
  cursor: pointer;
}

#calendar_wrap .calendar_body .calendar_day span.etc_schedule {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 2.5em;
  color: #51565d !important;
}

#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 7) {
  border-right: 0;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(n + 8):nth-of-type(-n + 14) {
  grid-row: 3;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(n + 15):nth-of-type(-n + 21) {
  grid-row: 4;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(n + 22):nth-of-type(-n + 28) {
  grid-row: 5;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(n + 29):nth-of-type(-n + 35) {
  grid-row: 6;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(n + 36):nth-of-type(-n + 42) {
  grid-row: 7;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 1) {
  grid-column: 1/1;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 2) {
  grid-column: 2/2;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 3) {
  grid-column: 3/3;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 4) {
  grid-column: 4/4;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 5) {
  grid-column: 5/5;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 6) {
  grid-column: 6/6;
}
#calendar_wrap .calendar_body .calendar_day:nth-of-type(7n + 7) {
  grid-column: 7/7;
}

#calendar_wrap .calendar_body .disabled_day {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

#calendar_wrap .calendar_body .calendar_day span.holiday_name {
  position: absolute;
  left: 14px;
  top: 15px;
}

/* 일정 CSS */
.schedule {
  border-left-width: 3px;
  padding: 8px 12px;
  border-left-style: solid;
  font-size: 1em;
  position: relative;
  height: 34px;
  z-index: 20;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.private {
  border-left-color: #00ff5e;
  background: rgba(182, 255, 179, 0.7);
  color: #51565d;
}
.project {
  border-left-color: #fa607e;
  background: rgba(253, 197, 208, 0.7);
  color: #51565d;
}
.department {
  border-left-color: #fdb44d;
  background: rgba(255, 227, 188, 0.7);
  color: #51565d;
}
.company {
  border-left-color: #4786ff;
  background: rgba(218, 231, 255, 0.7);
  color: #51565d;
}
/* calendar body CSS END*/

/* button CSS START */
/* button 공용 CSS */
.calendar_button {
  position: fixed;
  z-index: 10000;
  cursor: pointer;
}

.calendar_button:active {
  color: #4786ff;
}

.calendar_button i {
  font-size: 3.5em;
}

/* go_today_button */
#go_today_button {
  bottom: 125px;
  right: 57px;
}

/* create schedule button CSS START*/
#create_schedule_button {
  bottom: 55px;
  right: 60px;
}

/* create schedule button CSS END*/
/* button CSS END */

/* class attribute CSS */
.color_blue {
  color: #0a5eff !important;
}

.color_red {
  color: #f8254e !important;
}

.today::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 200px;
  height: 120px;
  border: 2px solid #51565d !important;
  box-sizing: border-box;
  z-index: 6000;
  pointer-events: none;
}